* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: Manrope;
}

a {
  color: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
